<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Справочник жанров</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .genres {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .genres tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .genres td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>
<a href="/">На главную страницу</a>
<h3>Жанры:</h3>
<table class="genres">
    <thead>
    <tr>
        <th>ID</th>
        <th>Наименование</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="genre : ${genres}">
        <td th:text="${genre.id}">1</td>
        <td th:text="${genre.name}">Детектив</td>
        <td>
            <form action="#" th:action="@{/genres/delete(id=${genre.id})}" th:method="delete" >
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" id="submitButton">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a href="../templates/genres-add.html" th:href="@{/genres/add}">Добавить жанр</a>
</body>
</html>
